%h2 Unser Konzept


%h3 Was kann ich unter couchpotatoe verstehen?
%p
  Einerseits natürlich, dass liegt auf der Hand, dass Sie vermutlich nirgendwo anders
  so schnell zu Ihrem Traumobjekt finden wie bei uns.
  Allerdings ist unser Anspruch nicht nur, dass der Buchungsprozess schnell und unkompliziert abläuft,
  sondern ebenfalls, dass absolute Sicherheit für Mieter und Vermieter gewährleistet ist.

%p
  %strong
    Ein erfolgreiches Produkt und vor allem ein langfristig erfolgreiches Produkt, kann nur durch Zufriedenheit seiner
    Kunden bestehen.

%p
  Die Vermietung von Wohnraum ist deshalb so erfolgreich, weil Sie für beide Seiten eine WinWin-Lösung darstellt. Einzige Bedingung ist hier, wie auch in anderen Bereichen des Lebens, dass sich beide Seiten vertrauen.

%p
  %strong Wir garantieren für vertrauenswürdige Mieter und Vermieter und freuen uns auf eine angenehme Zeit mit Ihnen.


%h3 Wie kann ich ein Objekt sofort buchen?

%p
  Sobald Sie angemeldet sind und auf "Anfragen" klicken,
  wird eine neue Buchungsanfrage erstellt für den von Ihnen ausgewählten Zeitraum.
  Auf Ihrer Anfragenübersicht sehen Sie nun die Anfrage für
  das von Ihnen gewählte Objekt.
%p
  Der Vermieter kann Ihre Anfrage nun akzeptieren oder ablehnen.
  Sobald der Vermieter Ihre Anfrage akzeptiert hat, können Sie den Originalvertrag herunterladen,
  unterschreiben und wieder hochladen.
  Spätestens innerhalb eines Werktages sollte
  der Vermieter Ihren unterschriebenen Vertrag bestätigen.
%p
  Noch einfacher können Sie den Vertrag mit der online Unterschrift abschließen,
  näheres dazu ist im nächsten Abschnitt zu finden.


%h3 Wie kann ich Verträge online unterschreiben?
%p
  Wenn Sie keinen Drucker und/oder Scanner zur Verfügung haben sollten,
  bieten wir Ihnen die Möglichkeit Verträge online zu unterschreiben.

  Hierzu können Sie, am besten mit einem Tablet-PC wie dem iPad oder Nexus 7,
  die Seite 'Meine Daten' auf couchpotatoe.com aufrufen und die Funktion
  'Online Unterschreiben' wählen.
  Nun können Sie mit Ihrem Finger oder einem für die Benutzung mit Touchscreens vorgesehenen
  Stift Ihre Unterschrift aufnehmen und abspeichern.

  Bei jedem zu unterschreibenden Dokument, wird jetzt die Option 'Online unterschreiben' angezeigt,
  mithilfe welcher Sie das Dokument ganz einfach per Mausklick oder Touch unterschreiben können.

  Da wir Ihre Unterschrift prüfen, sind Verträge welche Sie online unterschreiben
  sofort verifiziert. Andernfalls müsste der Vermieter Ihre Unterschrift erst überprüfen.

  %p
    %strong
      Für technisch Interessierte: Zusätzlich zur visuellen Darstellung Ihrer Unterschrift auf dem
      unterschriebenen Dokument, fügen wir Ihre persönliche digitale Signatur in das Dokument ein.

      Mit dieser lässt sich im Nachhinein nicht abstreiten, dass der Vertrag auch wirklich abgeschlossen wurde.

      Das gilt sowohl für Mieter, als auch für Vermieter!
