- if @interviews.blank?
  %h2 Du scheinst noch keine eBesichtigungs Termine zu haben
  %p
    Lerne in unserem
    = link_to 'F.A.Q.', landing_pages_faq_path
    mehr darüber, wie du deine neue Wohnung
    und deinen neuen Vermieter mit einer
    eBesichtigung kennenlernen kannst.
