#eventCreator.modal.fade{ "tabindex" =>"-1", "role" =>"dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" =>"true" }
  .modal-dialog
    .modal-content
      %h3 Anwesend für Besichtigungen
      %h4
        Von
        %span.from
        bis
        %span.till
      %button.btn Bestätigen

#calendar
