<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1><%= @contract.user.fullname %> hat unterschrieben</h1>

<p>Sehr geehrte Damen und Herren,</p>

<p>
  <%= @contract.user.fullname %> hat den Vertrag für das Inserat <%= @contract.rentable_item.number %> unterschrieben.
</p>

<p>Sie können diese Anfrage in Ihrer <%= link_to 'Anfragenübersicht', "http://#{@contract.account.domain}.couchpotatoe.com/requests" %> bearbeiten.</p>

<p>Den unterschrieben Vertrag können Sie dem Anhang entnehmen.</p>

<p>Mit freundlichen Grüßen</p>
<p>Ihr couchpotatoe Team</p>
</body>
</html>
